
<div class="container-lg text-center">
  <h1>Welcome to <strong>Stupid Coaching</strong></h1>

  <br>

  <p><%= @answer %></p>

  <button type="button" class="btn btn-dark"><%= link_to "Ask another question", ask_path, class: "link" %></button>
</div>
